<%- include ('./partials/header.ejs')%>
    <div class = "index-content">
        <section>
 
            <h1>About Page</h1>
            <h3>It recommend ways you can save. Budgeting apps often sync with your bank accounts so it automatically tracks your spending. Some require that you input your transactions manually, which can take time.</h3>
            
        
        </section>
        
    </div>
    
<%- include('./partials/footer.ejs')%>

