<%- include ('./partials/header.ejs')%>
    <div class = "index-content">
        <section>
 
            <h1>Contact Page</h1>
            <div>
                <br/> <h4>Phone Number : (980) 680-9394
                    <h4> Phone Number (International Number) :-- (475) 706-8888
                <h4> Email Id: PersonalBudegt@uncc.com
            </div>
              <div> <br/>  <h4>Office Contact Details</h4>
                
                Personal Budget Corporation 
               <br/> One Budget industries. Charlotte, North Carolina, USA.
                <br/>Pin code: 28626.</h3>
        
    </section>
        
    </div>
    
<%- include('./partials/footer.ejs')%>

