<%- include ('./partials/header.ejs')%>
    <div class = "index-content">
        <section>
 
            <h1>Welcome to Personal Budget Platform!</h1>
            <h2> A software program that helps you create a budget and, in many cases, track your income and spending.</h2>
            <h3> Some even have advanced features to help you pay off debt, monitor your net worth, monitor your credit score, and automate your savings goals.</h3>
            
        
        </section>
        
    </div>
    
<%- include('./partials/footer.ejs')%>

